@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap");

:root {
}
* {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Anton", "Poppins", sans-serif;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 3px solid black; */
  /* font-family: "Poppins", sans-serif; */
  font-family: "Anton", "Poppins", sans-serif;

  background-color: #92bdeb;
}

.btn:hover {
  animation: sh0 0.5s ease-in-out both;
}
@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.hero {
  max-width: 100vw;
  margin: auto;
  min-height: 100vh;
  border: 1px solid red;

  /* background: linear-gradient(
      90.03deg,
      #b4deff 2.38%,
      rgba(230, 242, 244, 0) 90.95%
    ),
    url("../../public/hero.jfif"); */
  background: url("../../public/hero.jfif");
  background-position: right;
  background-size: 75%;
  background-repeat: no-repeat;
  /* background-position-x: right; */
  background-position-y: inherit;
  /* background-color: #b4deff; */
  background-color: #DBEBF8;

  /* background-position-y: 100px; */
}
.Banner {
  /* background-color: #ebf5ff; */
  border: 1px solid yellow;
}
.css-nd8846 {
  align-items: center;
}

.carousel {
  height: 100vh;
  /* max-width: 1440px; */
  width: 100vw;
  margin: auto;
  border: 1px solid blue;
  /* z-index: 1000; */
  /* background-color: rgb(30, 200, 143); */
}
.header {
  /* max-width: 1440px; */
  margin: auto;
}
.feature {
  /* max-width: 1440px; */
  margin: auto;
  height: 90vh;
}
.bgbanner {
  /* max-width: 1440px; */
  /* margin: auto;
  height: 60vh; */

  background: linear-gradient(
      67.07deg,
      rgba(0, 0, 0, 0.65) 33.14%,
      rgba(0, 0, 0, 0) 104.63%
    ),
    url("../../public/banner2.png");

  background-attachment: fixed;
}

.footer {
  /* max-width: 1440px; */
  margin: auto;
}
.testimony {
  /* max-width: 1440px; */
  margin: auto;
}
.car-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  transform: translateX(300px);
}
.car-card > div {
  padding: 20px;
}
.car2 {
  width: 300px;
  position: relative;

  top: 500px;
  right: 250px;
  z-index: 15;
}

.car1 {
  width: 400px;
  position: relative;
  left: 400px;

  top: 80px;
  z-index: 10;
}
.css-jv498s {
  background-color: none;
  box-shadow: none;
}

.car3 {
  width: 300px;
  position: absolute;
  right: 550px;
}
